{%- liquid
  assign button_text = section.settings.button-text | escape | truncate: 30
  assign button_url = section.settings.button-url | url_escape
  assign heading = section.settings.heading | escape
  assign darken_video = section.settings.darken-video
  assign light_text = section.settings.light-text
  assign sub_heading = section.settings.sub-heading | escape

  assign cover_link = false
  if button_text == blank and button_url != blank
    assign cover_link = true
  endif

  assign button_type = 'button'
  if light_text
    assign button_type = 'inverted-secondary-button'
  endif
-%}

<div
  class="featured-video--root"
  data-section-id="{{ section.id }}"
  data-js-class="FeaturedVideo"
  data-background-color="none"
  data-darken-video="{{ darken_video }}"
  data-full-width="true"
  data-light-text="{{ light_text }}"
  data-section-height="{{ section_height }}"
  data-thumbnail="false"
>
  {% if cover_link %}
    <a href="{{ button_url }}">
  {% endif %}

  <div class="text-bg-video-wrapper">
      <video class="text-bg-video" poster="" autoplay="" loop="" muted="" playsinline="">
          <source src="{{ section.settings.video-url }}" type="video/mp4">
      </video>
      <video class="text-bg-video-mobile" poster="{{ section.settings.mobile-poster-img }}" autoplay="" loop="" muted="" playsinline="">
        {% if section.settings.collection-mobile-video-url %}
          <source src="{{ section.settings.mobile-video-url }}" type="video/mp4">
        {% else %}
          <source src="{{ section.settings.video-url }}" type="video/mp4">
        {% endif %}
      </video>
  </div>
      
  <div class="featured-video--body">

    <div class="featured-video--container">

      <div class="featured-video--header">
        {% if heading != blank %}
          <div class="featured-video--heading">
            <h2 data-item="featured-heading">{{ heading }}</h2>
          </div>
        {% endif %}

        {% if sub_heading != blank %}
          <div class="featured-video--sub-heading" data-item="block-heading">
            {{ sub_heading }}
          </div>
        {% endif %}


        {% if button_text != blank %}
          <a
            class="featured-video--button"
            data-item="{{ button_type }}"
            href="{{ button_url }}"
          >
            <div>{{ button_text }}</div>
          </a>
        {% endif %}
      </div>

    </div>

  </div>

  {% if heading != blank or sub_heading != blank or button_text != blank %}
    <div class="featured-video--header-mobile" data-mq="small">
      {% if heading != blank %}
        <div class="featured-video--heading-mobile">
          <h2 data-item="section-heading">{{ heading }}</h2>
        </div>
      {% endif %}

      {% if sub_heading != blank %}
        <div class="featured-video--sub-heading-mobile" data-item="block-heading">
          {{ sub_heading }}
        </div>
      {% endif %}

      {% if button_text != blank %}
        <a
          class="featured-video--button"
          href="{{ button_url }}"
          {% if bg_color == 'dark' %}
            data-item="inverted-secondary-button"
          {% else %}
            data-item="button"
          {% endif %}
        >
          <div>{{ button_text }}</div>
        </a>
      {% endif %}
    </div>
  {% endif %}

  {% if cover_link %}
    </a>
  {% endif %}
</div>

<style>
  .text-bg-video-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
  }
  .text-bg-video-wrapper video {
    min-width: 100%;
    width:{{ section.settings.video_zoom }}%;
    height: 100%;
    object-fit: cover;
  }
  #shopify-section-{{ section.id }} {
    position:relative;
  }
  .shopify-section [data-background-color="none"] {
    background-color: transparent;
  }
  @media only screen and (max-width: 767px) {
    .text-bg-video {
      display: none;
      visibility: hidden;
    }
    #shopify-section-{{ section.id }} .featured-video--header-mobile {
      position:relative;
    }
    #shopify-section-{{ section.id }} .featured-video--body {
      display:none;
      visibility:hidden;
    }
  }
  @media only screen and (max-width: 767px) {
  .featured-video--root .featured-video--container {
      padding-top:{{ section.settings.mobile_padding }}px;
      padding-bottom:{{ section.settings.mobile_padding }}px;
    }
  }
  @media only screen and (min-width: 768px) {
    .featured-video--root .featured-video--container {
      padding-top:{{ section.settings.desktop_padding }}px;
      padding-bottom:{{ section.settings.desktop_padding }}px;
    }
    .text-bg-video-mobile {
      display: none;
      visibility: hidden;
    } 
  }
</style>

{% schema %}
  {
    "name": "BG Video Text",
    "settings": [
      {
        "type": "url",
        "id": "video-url",
        "label": "Desktop Video URL"
      },
      {
        "type": "url",
        "id": "mobile-video-url",
        "label": "Mobile Video URL",
        "info": "Link to a smaller video file to load quicker on mobile devices. If blank, the theme will use the Desktop Video URL above."
      },
      {
        "type": "url",
        "id": "mobile-poster-img",
        "label": "Mobile Video Poster",
        "info": "This image is a placeholder while the video loads. The url is added to the poster attribute on the mobile html video tag. Use a very short (2 sec), compressed gif of the video to make it play on low power mode."
      },
      {
        "type": "range",
        "id": "video_zoom",
        "min": 100,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Video zoom",
		"info": "Use this zoom to crop your video",
        "default": 100
      },
      {
        "type": "range",
        "id": "desktop_padding",
        "min": 32,
        "max": 128,
        "step": 4,
        "unit": "px",
        "label": "Desktop padding",
		"info": "Use this to increase the height of the section to crop the background video",
        "default": 64
      },
      {
        "type": "range",
        "id": "mobile_padding",
        "min": 32,
        "max": 128,
        "step": 4,
        "unit": "px",
        "label": "Mobile padding",
		"info": "Use this to increase the height of the section to crop the background video on mobile",
        "default": 64
      },
      {
       "id": "light-text",
       "label": "Use light text color",
       "type": "checkbox",
       "default": false
      },
      {
        "type": "checkbox",
        "id": "darken-video",
        "label": "Darken Video",
        "default": true,
        "info": "Can enhance text visibility"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Video"
      },
      {
        "type": "textarea",
        "id": "sub-heading",
        "label": "Subheading",
        "default": "Add a subheading here"
      },
      {
        "type": "text",
        "id": "button-text",
        "label": "Button text",
        "default": "button"
      },
      {
        "type": "url",
        "id": "button-url",
        "label": "Button URL"
      }
    ],
    "presets": [
      {
        "name": "BG Video Text"
      }
    ]
  }
{% endschema %}
