<div class="fs-bg-video-wrapper">
    <video id="video-{{ section.id }}" class="fs-bg-video-desktop" poster="" autoplay="" loop="" muted="" playsinline="">
        <source src="{{ section.settings.fs-video-url }}" type="video/mp4">
    </video>
    <video id="mobile-video-{{ section.id }}" class="fs-bg-video-mobile" poster="{{ section.settings.fs-mobile-poster-img }}" autoplay="" loop="" muted="" playsinline="">
      {% if section.settings.fs-mobile-video-url %}
        <source src="{{ section.settings.fs-mobile-video-url }}" type="video/mp4">
      {% else %}
        <source src="{{ section.settings.fs-video-url }}" type="video/mp4">
      {% endif %}
    </video>
</div>

{% schema %}
  {
    "name": "Full Page BG Video",
    "settings": [
      {
        "type": "url",
        "id": "fs-video-url",
        "label": "Desktop Video URL"
      },
      {
        "type": "url",
        "id": "fs-mobile-video-url",
        "label": "Mobile Video URL",
        "info": "Link to a smaller video file to load quicker on mobile devices. If blank, the theme will use the Desktop Video URL above."
      },
      {
        "type": "url",
        "id": "fs-mobile-poster-img",
        "label": "Mobile Video Poster",
        "info": "This image is a placeholder while the video loads. The url is added to the poster attribute on the mobile html video tag. Use a very short (2 sec), compressed gif of the video to make it play on low power mode."
      }
    ],
    "presets": [
      {
        "name": "Full Page BG Video"
      }
    ]
  }
{% endschema %}

<style>
  .fs-bg-video-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    background-size: cover;
  }
  .fs-bg-video-wrapper video {
    top: 0;
    left: 0;
    transform: none;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    background-size: cover;
  }
  header.header--root {
  	z-index:1;
    border-bottom-width: 0px;
  }
  .shopify-section .newsletter--root {
  	z-index: 1;
    position: relative;
  }
  .shopify-section [data-background-color="none"] {
    background-color: transparent;
  }
  @media only screen and (max-width: 767px) {
    .fs-bg-video-desktop {
      display: none;
      visibility: hidden;
    }
  }
  @media only screen and (min-width: 768px) {
    .fs-bg-video-mobile {
      display: none;
      visibility: hidden;
    } 
  }
</style>

<script>
document.addEventListener("DOMContentLoaded", function(){
    document.body.addEventListener("touchstart", playBgVideos);
    function playBgVideos() {
        const video = document.getElementById('video-{{ section.id }}');
        if(video.playing) {
        } else {
            video.play();
        }
        const mobileVideo = document.getElementById('mobile-video-{{ section.id }}');
        if(mobileVideo.playing) {
        } else {
            mobileVideo.play();
        }
    }
});
</script>